<a href="https://colab.research.google.com/github/MinaSGorgy/HelpNavigateRobots/blob/master/HelpNavigateRobots.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Statement

Robots are smart… by design. To fully understand and properly navigate a task, however, they need input about their environment.

In this competition, you’ll help robots recognize the floor surface they’re standing on using data collected from Inertial Measurement Units (IMU sensors).

We’ve collected IMU sensor data while driving a small mobile robot over different floor surfaces on the university premises. The task is to predict which one of the nine floor types (carpet, tiles, concrete) the robot is on using sensor data such as acceleration and velocity. Succeed and you'll help improve the navigation of robots without assistance across many different surfaces, so they won’t fall down on the job.

# Data Description

- **X_[train/test].csv** - the input data, covering 10 sensor channels and 128 measurements per time series plus three ID columns:

  - row_id: The ID for this row.

  - series_id: ID number for the measurement series. Foreign key to y_train/sample_submission.

  - measurement_number: Measurement number within the series.

The orientation channels encode the current angles how the robot is oriented as a quaternion (see Wikipedia). Angular velocity describes the angle and speed of motion, and linear acceleration components describe how the speed is changing at different times. The 10 sensor channels are:

    - orientation_X

    - orientation_Y

    - orientation_Z

    - orientation_W

    - angular_velocity_X

    - angular_velocity_Y

    - angular_velocity_Z

    - linear_acceleration_X

    - linear_acceleration_Y

    - linear_acceleration_Z

- **y_train.csv** - the surfaces for training set.

  - series_id: ID number for the measurement series.

  - group_id: ID number for all of the measurements taken in a recording session. Provided for the training set only, to enable more cross validation strategies.

  - surface: the target for this competition.

- **sample_submission.csv** - - a sample submission file in the correct format.

In [0]:
# Download Dataset
!pip install -U -q kaggle
!mkdir -p ~/.kaggle
!echo '{"username":"minasgorgi","key":"0de353e217e2dca3e5c61e530055c2d8"}' > ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

!kaggle competitions download -c career-con-2019

502 - Bad Gateway

In [0]:
# Unpack data
!unzip X_train.csv.zip
!unzip X_test.csv.zip

In [0]:
# Load Data
import pandas as pd

x_train = pd.read_csv('X_train.csv')
y_train = pd.read_csv('y_train.csv')
x_test = pd.read_csv('X_test.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [0]:
# Inspect Data
x_train.head()

,row_id,series_id,measurement_number,orientation_X,orientation_Y,orientation_Z,orientation_W,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,linear_acceleration_X,linear_acceleration_Y,linear_acceleration_Z
0,0_0,0,0,-0.75853,-0.63435,-0.10488,-0.10597,0.107650,0.017561,0.000767,-0.74857,2.1030,-9.7532
1,0_1,0,1,-0.75853,-0.63434,-0.10490,-0.10600,0.067851,0.029939,0.003385,0.33995,1.5064,-9.4128
2,0_2,0,2,-0.75853,-0.63435,-0.10492,-0.10597,0.007275,0.028934,-0.005978,-0.26429,1.5922,-8.7267
3,0_3,0,3,-0.75852,-0.63436,-0.10495,-0.10597,-0.013053,0.019448,-0.008974,0.42684,1.0993,-10.0960
4,0_4,0,4,-0.75852,-0.63435,-0.10495,-0.10596,0.005135,0.007652,0.005245,-0.50969,1.4689,-10.4410

In [0]:
y_train.head()

   series_id  group_id        surface
0          0        13  fine_concrete
1          1        31       concrete
2          2        20       concrete
3          3        31       concrete
4          4        22     soft_tiles

In [0]:
x_test.head()

,row_id,series_id,measurement_number,orientation_X,orientation_Y,orientation_Z,orientation_W,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,linear_acceleration_X,linear_acceleration_Y,linear_acceleration_Z
0,0_0,0,0,-0.025773,-0.98864,-0.14801,0.003350,-0.006524,-0.001071,-0.027390,0.10043,4.2061,-5.5439
1,0_1,0,1,-0.025683,-0.98862,-0.14816,0.003439,-0.113960,0.083987,-0.060590,-0.70889,3.9905,-8.0273
2,0_2,0,2,-0.025617,-0.98861,-0.14826,0.003571,-0.080518,0.114860,-0.037177,1.45710,2.2828,-11.2990
3,0_3,0,3,-0.025566,-0.98862,-0.14817,0.003609,0.070067,0.033820,-0.035904,0.71096,1.8582,-12.2270
4,0_4,0,4,-0.025548,-0.98866,-0.14792,0.003477,0.152050,-0.029016,-0.015314,3.39960,2.7881,-10.4100

In [0]:
sample_submission.head()

   series_id   surface
0          0  concrete
1          1  concrete
2          2  concrete
3          3  concrete
4          4  concrete